<div class="container">
  <div class="d-flex p-2">
    <div class="navbar-lewagon">

      <!-- AFFICHER UNE NAVBAR  -->
    </div>
  </div>

  <!-- HERO IMAGE  -->

  <div class="container">
    <div class="header">
     <div class="hero-text">
      <h1 class="space_bottom">Discover new cocktails</h1>
      <p class="space_bottom golden_height left_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit delectus voluptatibus. Sunt perspiciatis unde illum recusandae nam tempore inventore ullam exercitationem quos ex.</p>
      <%= link_to 'Create a cocktail', new_cocktail_path, :class => 'btn btn-primary' %>
    </div>
  </div>

  <!-- GRID  -->
  <div class="row">
    <div class="col-sm">
      <%= link_to cocktails_path do %>
      <%= image_tag "A.png", class: "img-index" %>
      <% end %>
    </div>

    <div class="col-sm">
      <%= link_to root_path do %>
      <%= image_tag "B.png", class: "img-index" %>
      <% end %>
    </div>

    <div class="col-sm">
      <%= link_to root_path do %>
      <%= image_tag "C.png", class: "img-index" %>
      <% end %>
    </div>

    <div class="col-sm">
      <%= link_to cocktails_path do %>
      <%= image_tag "D.png", class: "img-index" %>
      <% end %>
    </div>

    <div class="col-sm">
      <%= link_to root_path do %>
      <%= image_tag "E.png", class: "img-index" %>
      <% end %>
    </div>

    <div class="col-sm">
      <%= link_to root_path do %>
      <%= image_tag "F.png", class: "img-index" %>
      <% end %>
    </div>
  </div>
</div>
